---
common_packages:
  - gnupg
  - ssh
  - htop
  - sysstat
  - dnsutils
  - iotop
  - unzip
  - file
  - iftop
  - ncdu
  - mtr-tiny
  - vim
  - lsof
  - strace
  - tcpdump
  - tmux
  - screen
  - curl
  - net-tools
  - tree
  - sudo

groups_present:
  - name: kosik_ops
    gid: 3000
  - name: kosik_devops
    gid: 3001
  - name: ansible
    gid: 3002

groups_absent:
        #  - name: ansible
        #  - name: kosik_ops
        #  - name: kosik_devops

users_present:
  - name: ansible
    uid: 4000
    #    groups: []
    groups: ['ansible']
  - name: jakub.rohovsky
    uid: 4001
    #    groups: []
    groups: ['kosik_ops','kosik_devops']    
  - name: zdenek.dlouhy
    uid: 4002
    #    groups: []
    groups: ['kosik_ops','kosik_devops']
  - name: filip.gajdosik
    uid: 4006
    #    groups: []
    groups: ['kosik_ops','kosik_devops']
    #  - name: vaclav.sedivy
    #    uid: 4003
    #    #    groups: []
    #    groups: ['kosik_ops','kosik_devops']

users_absent:
  - vaclav.sedivy
        #  - zdenek.dlouhy
        #  - ansible
        #  - jakub.rohovsky
        #  - vaclav.sedivy

ca_path_debian: /usr/local/share/ca-certificates
ca_path:
  RedHat:
    6: /usr/local/share/ca-certificates
    7: /etc/pki/ca-trust/source/anchors
  Debian:
    7: '{{ ca_path_debian }}'
    8: '{{ ca_path_debian }}'
    20: '{{ ca_path_debian }}' #focal
  SUSE:
    15: /usr/share/pki/trust/anchors
