---
common_packages:
  - gnupg
  - ssh
  - htop
  - sysstat
  - dnsutils
  - iotop
  - unzip
  - file
  - iftop
  - ncdu
  - mtr-tiny
  - vim
  - lsof
  - strace
  - tcpdump
  - tmux
  - screen
  - curl
  - net-tools
  - tree
  - sudo

groups_present:
  - name: kosik_ops
    gid: 2000
  - name: kosik_devops
    gid: 2001
  - name: ansible
    gid: 2002

groups_absent:

users_present:
  - name: ansible
    uid: 4000
    groups: ['ansible']
  - name: jakub.rohovsky
    uid: 4001
    groups: ['kosik_ops','kosik_devops']    
  - name: zdenek.dlouhy
    uid: 4002
    groups: ['kosik_ops','kosik_devops']
  - name: vaclav.sedivy
    uid: 4003
    groups: ['kosik_ops','kosik_devops']

users_absent:
        #  - zdenek.dlouhy
        #  - ansible
        #  - jakub.rohovsky
        #  - vaclav.sedivy

ca_path_debian: /usr/local/share/ca-certificates
ca_path:
  RedHat:
    6: /usr/local/share/ca-certificates
    7: /etc/pki/ca-trust/source/anchors
  Debian:
    7: '{{ ca_path_debian }}'
    8: '{{ ca_path_debian }}'
    20: '{{ ca_path_debian }}' #focal
  SUSE:
    15: /usr/share/pki/trust/anchors
