#Ubuntu official
deb http://cz.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main restricted

#Ubuntu backports
deb http://cz.archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-backports main restricted
